
/*------------------------------------*\
    #Icons  
\*------------------------------------*/

$font-family: "fontello--soriallc";

@mixin icon($icon: false, $position: before) {
  @if $position == both {
    $position: 'before, &:after';
  }

  &:#{$position} {
    @if $icon {
      content: $icon;
      font-family: $font-family;
      font-style: normal; 
      vertical-align: middle; 
      margin-right: rem-calc(4); 
    }

    @content;
    
  }
}
