
/*------------------------------------*\
    #Logos
\*------------------------------------*/


%logo {
  background-size: contain;
  min-height: em-calc(35);
  min-width: em-calc(50);
  margin: em-calc(4);
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}