
/*------------------------------------*\
    #Typography
\*------------------------------------*/

/* Base Typefaces */

// Base Font Family
$base-font-family: 'Hind', sans-serif;

// Serif Fonft Familyfont-family: 'Hind', sans-serif;
$serif-font-family: 'Hind', sans-serif;

$base-font-size: rem-calc(16); 
$base-font-line-height: 1.5; //24px

%base-font-family {
	font-family:  $base-font-family; 
    font-weight: normal; 
}

%serif-font-family {
    font-family: $serif-font-family; 
}






/*------------------------------------*\
    #Font Weights & Styles 
\*------------------------------------*/

$normal: 400;
$bold: 600;
$extra-bold: 700;
$base-font-weight: $normal;

%fwn {font-weight: $normal;}
%fwb {font-weight: $bold;}
%uc {text-transform: uppercase;}






/*------------------------------------*\
    #Text Alignments 
\*------------------------------------*/


%text-center { text-align: center; }
%text-left { text-align: left; }
%text-right { text-align: right; }





/*------------------------------------*\
    #Text Sizes and Hn sizes 
\*------------------------------------*/

// Magic numberis 24 (1.5rem), line heights 
// must be multiples of this for vertical rhythm
// 24 ÷ (font size) = (line height)

%h1 {
	font-size: rem-calc(36);
	line-height: 1.333; 
    @extend %fwn; 
}


%h2 {
	font-size: rem-calc(28); 
	line-height: .85; 
    @extend %fwn; 
}

%h3 {
	font-size: rem-calc(24); 
	line-height: 1; 
    @extend %fwn; 
}

%h4 {
	font-size: rem-calc(20);
	line-height: 1.2; 
    @extend %fwn; 
}

%h5 {
	font-size: rem-calc(18);
	line-height: 1.333; 
    @extend %fwn; 
}

%h6 {
	font-size: rem-calc(16);
	line-height: 1.5; 
    @extend %fwn; 
}

%h7 {
    font-size: rem-calc(14);
    line-height: 1.71; 
    @extend %fwn; 
}

/* Sizes for text too small or too large for a header tag */
%text--mega {
    font-size: rem-calc(96px); 
    line-height: 1;  
    @extend %fwn; 
}


%text--micro {
	font-size: rem-calc(12); 
	line-height: 2; 
    @extend %fwn; 
}





/*------------------------------------*\
    #Text Colors 
\*------------------------------------*/


%text--white { color: #fff;}

//Text Shadow Mixin 
@mixin text-shadow--title ($color)
{
    @include text-shadow(rgba(darken($color, 30%), 1) 0 1px 0);
}




/*------------------------------------*\
    #Text Alignments  
\*------------------------------------*/


%text-center { text-align: center; }
%text-left { text-align: left; }
%text-right { text-align: right; }






/*------------------------------------*\
    #Link Types 
\*------------------------------------*/


%link--underline {
	text-decoration: underline; 

	&:hover {
			text-decoration: none; 
	}
}





/*------------------------------------*\
    #Hovers 
\*------------------------------------*/

 %opacity_hover {

 	@include single-transition(all, 0.3s, ease-in-out);

 	&:hover {
 		opacity: .7;
 	}

 }





/*------------------------------------*\
    #Blockquotes
\*------------------------------------*/

@mixin blockquote($color) {

	p {
	background-color: $blue--light; 
	padding: em-calc(14);
	margin-bottom: em-calc(14);
    @include border-radius(em-calc(6));

	
	&:after {
		@extend %position--absolute; 
		@extend %display--block; 
		content: "";
		bottom: auto;
		right: em-calc(70);
		width: 0; 
		height: 0; 
		border-left: 24px solid transparent;
		border-right: 24px solid transparent;
		border-top: 30px $blue--light solid;  
		}

	}

	cite {
		padding-bottom: em-calc(4);
		text-align: right; 
		font-weight: $bold;
		font-style: normal;

		&:before {
			content: none; 
		}
	}
}






/*------------------------------------*\
    #Text Colors  
\*------------------------------------*/


%txtc2 {
    color: $primaryColor; 
        @include text-shadow( 0 1px 0 $primaryColor--dark,
           0 1px 0 $primaryColor--dark,
           0 2px 0 $primaryColor--dark,
           0 3px 0 $primaryColor--dark,
           0 2px 0 $primaryColor--dark,
           0 4px 1px rgba(45, 104, 75, .1),
           0 0 5px rgba(45, 104, 75, .1),
           0 1px 3px rgba(45, 104, 75, .3),
           0 3px 5px rgba(45, 104, 75, .2),
           0 5px 10px rgba(45, 104, 75, .25),
           0 10px 10px rgba(45, 104, 75, .2),
           0 20px 20px rgba(45, 104, 75, .15));
}


%txtc3 {

    color: $secondaryColor; 
    @include text-shadow( 0 1px 0 $secondaryColor--dark,
           0 1px 0 $secondaryColor--dark,
           0 2px 0 $secondaryColor--dark,
           0 3px 0 $secondaryColor--dark,
           0 2px 0 $secondaryColor--dark,
           0 4px 1px rgba(127, 85, 128, .1),
           0 0 5px rgba(127, 85, 128, .1),
           0 1px 3px rgba(127, 85, 128, .3),
           0 3px 5px rgba(127, 85, 128, .2),
           0 5px 10px rgba(127, 85, 128, .25),
           0 10px 10px rgba(127, 85, 128, .2),
           0 20px 20px rgba(127, 85, 128, .15));

}



%txtc4 {
    color: $accentColor; 
        @include text-shadow( 0 1px 0 $accentColor--dark,
           0 2px 0 $accentColor--dark,
           0 3px 0 $accentColor--dark,
           0 4px 0 $accentColor--dark,
           0 5px 0 $accentColor--dark,
           0 6px 1px rgba(45, 104, 75, .1),
           0 0 5px rgba(45, 104, 75, .1),
           0 1px 3px rgba(45, 104, 75, .3),
           0 3px 5px rgba(45, 104, 75, .2),
           0 5px 10px rgba(45, 104, 75, .25),
           0 10px 10px rgba(45, 104, 75, .2),
           0 20px 20px rgba(45, 104, 75, .15));
}


