
/*------------------------------------*\
    #Buttons  (Default button sizes being used from Foundation 5, disable at settings--overwrite.scss)
\*------------------------------------*/

.button,
button {

  @extend %button;
  
}

.button--primary {

  @include button--outline($secondaryColor); 

}

.button--secondary {
    @include button--3d($primaryColor);

}



.sqs-add-to-cart-button {
    background-color: $secondaryColor !important; 
    border: none !important; 
    @include box-shadow(0px 4px 0px #794179);
    @extend %br1; 

    &:hover {

        background-color: $secondaryColor--dark; 
    }

    &:active {

        bottom: -2px !important;
        @extend %position--relative; 
        @include box-shadow(0px 2px 0px #794179);

    }
}


/*------------------------------------*\
    #Button Sizes
\*------------------------------------*/


button,
.button {


    &.tiny {
      padding: rem-calc(6);
      padding-right: rem-calc(18);
      padding-left: rem-calc(18);
      @extend %text--micro; 
    }


    &.small {
      padding: rem-calc(8);
      padding-right: rem-calc(16);
      padding-left: rem-calc(16);
    }

    &.medium {
      padding: rem-calc(10);
      padding-right: rem-calc(32);
      padding-left: rem-calc(32);
    }

    &.large {
      padding: rem-calc(12);
      padding-right: rem-calc(36);
      padding-left: rem-calc(36); 
      @extend %h4; 
    }

}





/*------------------------------------*\
    #Button Classes
\*------------------------------------*/


.button--expanded {
    width: 100%; 
}





/*------------------------------------*\
    #Tab Buttons
\*------------------------------------*/


.fixedTab {
    background-color: $primaryColor;
    color: #fff; 
    bottom: rem-calc(40px); 
    left: 0;
    right: 0;  
    z-index: 101; 
    font-size: rem-calc(18); 
    overflow: hidden; 
    white-space: nowrap; 
    width: rem-calc(200px); 
    cursor: pointer; 
    opacity: 0; 
    @include single-transition(all, .3s, ease-in-out); 
    @extend %ptrbl2;
    @extend %position--fixed; 


    &.is-visible {
        opacity: 1; 
    }

    .link {
        opacity: 0; 
        @include single-transition(all, .3s, ease-in-out); 
    }

    a {
        color: $secondaryColor; 

        &:hover {
            color: #fff; 
        }
    }

    &:hover {
        width: rem-calc(324px); 

        .link {
            opacity: 1; 
        }
    }
}
